/*Estilos del componente*/
.card {
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 300px;
    margin: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100px;
    margin: 0 auto auto;
  }
  
  .card input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
  }
  
  .card button {
    background-color: #006514;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  